.contactItem {
  display: flex;
  list-style: circle;
}

.contactItem:not(:last-child) {
  margin-bottom: 12px;
}

.button {
  height: auto;
  margin-left: 10px;
  color: cadetblue;
  background-color: white;
  border-radius: 4px;
  transition: color, ease-in-out, 250ms;
  border-color: cadetblue;
}

.button:hover,
.button:focus {
  background-color: cadetblue;
  color: white;
}

.button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
